#titulo-header {
  display: flex;
  font-size: xx-large;
  background-color:#7289da;
  align-items: center;
  justify-content: center;
  margin: 0 auto;     
  max-width: 1200px;   
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
}
#nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 12px;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.nav-option {
  background:#7289da;
  padding: 8px 20px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none; 
  color: black;
  font-weight: 500;
}
.nav-option:hover {
  background:#5971ca;
}
